body {
    font-family: 'Poppins', sans-serif;
}

/* Add these styles for smooth scrolling */
html.has-scroll-smooth {
    overflow: hidden;
  }
  
  html.has-scroll-dragging {
    user-select: none;
  }
  
  .has-scroll-smooth body {
    overflow: hidden;
  }
  
  [data-scroll-container] {
    min-height: 100vh;
  }

/* Make AOS animations visible in Locomotive Scroll context */
[data-scroll-container] [data-aos] {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
  }
  
  [data-scroll-container] [data-aos].aos-animate {
    transform: none;
    opacity: 1;
  }