---
import AboutAcordeon from "../utils/AboutAccordion.astro";
import ParallaxImage from "../utils/ParallaxImage.astro";
import treePattern2 from "../../assets/images/tree-pattern-2.jpg";
---

<section class="mb-section">
    <header class="mb-8 grid gap-4 md:grid-cols-2 md:gap-8" data-aos="fade" data-aos-delay="100">
        <h2 class="text-title">
            BUILDING <span class="green">GREENER</span> WEBSITES
        </h2>
        <p class="text-sm opacity-50 md:text-base">
            
        </p>
    </header>
    <section class="grid gap-8 md:grid-cols-2">
        <AboutAcordeon open={1}/>
        <div class="w-full aspect-square rounded-br-[10rem] overflow-hidden drop-shadow-[0_35px_35px_rgba(80,100,0,0.2)]">
            <ParallaxImage 
                src={treePattern2}
                alt="Sustainable architecture"
                width="120%"
                height="130%"
                speed={0.3}
                borderRadius="0 0 0 5"
                quality={85}
            />
        </div>
    </section>
</section>
