<header class="mb-16">
    <nav class="py-4">
        <ul class="flex justify-between uppercase font-medium text-sm text-transparent md:text-base">
            <li>
                <a class="silver text-lg hover:brightness-150 md:text-xl " href="/green-web-initiative/">green web design</a>
            </li>
            <li>
        <a class="silver hover:brightness-150" href="docs">docs</a>
            </li>
        </ul>
    </nav>
</header>
