<section class="mb-section">
    <h1 class="silver mb-16 text-[4rem] font-extrabold uppercase text-center leading-[4rem] md:text-[7rem] md:leading-[7rem] md:text-start" data-aos="fade-up" data-aos-delay="0">
    Engineer a <br/> <span class="green">greener</span> web
    </h1>
    <figure>
    <div class="relative mb-4" data-aos="fade-up" data-aos-delay="600" data-aos-easing="ease-out-quart">
        <div class="w-full object-cover flex items-center align-center justify-center rounded-br-[6rem] h-[10rem] md:h-[30rem] md:rounded-br[20rem] overflow-hidden relative">
        <img class="absolute flex w-[170%]" src="images/hero-trees.jpeg" id="parallax-bg"/>
        <!--<img class="absolute right-0 bottom-0 z-10 rounded-br-[3rem] md:rounded-br-[10rem]" src="images/another/building.webp"/>-->
      </div>
        <img class="border-zinc-950 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full  md:w-[8rem]" src="images/another/pin.png"/>
        </div>
        <figcaption class="silver uppercase font-medium text-xs md:text-base">Made by Lachlan Harris</figcaption>
    </figure>
</section>
<script>
        // BG Parallax
        window.addEventListener('scroll', function () {
            const parallaxElements = 
                  document.querySelectorAll('#parallax-bg');
            parallaxElements.forEach(function (element) {
                let scrollPosition = window.pageYOffset;
                element.style.transform = 
                      'translateY(' + scrollPosition * 0.3 + 'px)';
            });
        });
</script>
