<section class="mb-section grid gap-4 md:grid-cols-2 md:gap-12">
    <h2 class="text-title">Design websites not just for your clients, but for your future, too</h2>
    <p class="neutral-100 opacity-50 text-sm md:text-base">
        With <span class="green">7%</span> of global emissions stemming purely from websites, it's in the hands of developers to help the world crisis of climate change.
    </p>
</section>
